/*	Helper Classes
	===

	Floats
	---
*/

	.left{ float: left; }
	.right{ float: right; }
	.clear:before,
	.clear:after {
		content: " ";
		display: table;
	}
	.clear:after{
		clear: both;
	}


/*	Layout
	===

	Photo Setup
	---
*/

	html{ height: 100%; }

	.photo,
	body{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: 100;
		background-size: cover;
	}

/*	Page Elements
	===

	Identity
	---
*/

	.decoration{
		width: 325px;
		height: 57px;
		position: absolute;
		left: 10%;
		bottom: 12%;
		z-index: 200;
	}

	.logo{
		width: 121px;
		height: 57px;
		position: absolute;
		cursor: pointer;
	}
		.logo img{
			border-left: 0 solid white; /* Required */
		}

/* 	Contact Charm
	---
*/
	.contact{
		position: absolute;
		right: 0px;
		top: -24%;
		color: white;

	}
		.contact a{
			font: 14px 'Noto Sans', sans-serif;
			color: white;
			text-decoration: none;
			letter-spacing: 1px;
			padding: 10% 0 10% 45%;
			opacity: 0;
			display: block;
			-webkit-transition: opacity .25s ease-in-out;
			-moz-transition: opacity .25s ease-in-out;
			-ms-transition: opacity .25s ease-in-out;
			-o-transition: opacity .25s ease-in-out;
			transition: opacity .25s ease-in-out;
		}
			.contact a:hover{
				zoom: 1;
				filter: alpha(opacity=50);
				opacity: 1;
			}

		.contact i{
			font-size: 12px;
			color: #DDD;
			margin-right: 5px;
		}

/*	Controls
	---
*/
	.controls{
		z-index: 200;
		position: absolute;
		right: 10%;
		bottom: 14%;
		-webkit-transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-ms-transition: opacity .25s ease-in-out;
		-o-transition: opacity .25s ease-in-out;
		transition: opacity .25s ease-in-out;
		opacity: .5;
		padding: 50px 0 0 50px;
	}
		.controls:hover{
			zoom: 1;
			filter: alpha(opacity=50);
			opacity: 1;
		}

		@media only screen and (max-width: 1024px) {
	        .controls{
	            opacity: 1;
	        }
    	}


	.control{
		width: 46px;
		height: 50px;
		text-align: center;
		text-transform: uppercase;
		color: white;
		font-family: "Ubuntu Mono", Arial;
		margin: 0 10px;
		cursor: pointer;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}
		.control-prev{ background: url('../imgs/controls.png'); }
		.control-prev:active,
		.control-prev.active{ background: url('../imgs/controls.png') 0 50px; }
		.control-next{ background: url('../imgs/controls.png') 50px 0; }
		.control-next:active,
		.control-next.active{ background: url('../imgs/controls.png') 50px 50px; }


/*	Preloader
	---
*/
	.preloader-container{
		position: absolute;
		bottom: 7%;
		left: 10%;
		right: 10%;
	}
	.preloader{
		width: 100%;
		height: 2px;
		background-color: #ffa200;
		position: relative;
		width: 0%;
		z-index: 200;
	}

/*	Spinner
	--
*/
	.spinner{
		position: absolute;
		left: 50%;
		top:50%;
		z-index: 0;
		-webkit-animation:spin 4s linear infinite;
	}